/* Agent Information Page CSS */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/Background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keep the background fixed while scrolling */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: center;
    animation: fadeIn 1s; /* Add a fade-in animation to the container */
}

h1 {
    color: #007BFF;
    font-size: 32px;
    margin-bottom: 20px;
    animation: scaleIn 1s; /* Add a scaling animation to the heading */
}

.agent-list {
    list-style-type: none;
    padding: 0;
}

.agent-list li {
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
    animation: fadeIn 1s; /* Add a fade-in animation to the agent list items */
}

.agent-list li:hover {
    background-color: #007BFF;
    color: #fff;
}

.agent-list img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.agent-info {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    color: #333;
    opacity: 0; /* Start with 0 opacity for the agent info */
    animation: slideIn 1s; /* Add a sliding animation to the agent info */
}

/* Increase the font size and padding for the "Home" button */
.top-right-button .button {
    font-size: 18px; /* Adjust the font size as needed */
    padding: 10px 20px; /* Adjust the padding as needed */
    opacity: 0; /* Start with 0 opacity for the home button */
    animation: fadeIn 1s 1s forwards; /* Add a delayed fade-in animation to the home button */
}

/* Position the "Home" button at the top right corner and hide it initially */
.top-right-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1; /* Ensure it's above other elements */
}

/* Define the animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Add this CSS for scroll animations */

/* Define the initial state of elements with data-scroll attribute */
.agent-info[data-scroll] {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Define the state of elements when they are in the viewport (visible) */
.agent-info[data-scroll].is-visible {
    opacity: 1;
    transform: translateY(0);
}
