

body {
    font-family: 'ValorantFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('images/Background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff; /* Set the default text color to white */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  
}

h1 {
    color: #007BFF; /* Blue color for the header */
    margin-top: 0;
    font-size: 28px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #fff; /* White text color for labels */
}

select, button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.result-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.agent-result, .challenge-result {
    flex-basis: 48%;
    color: #fff; /* White text color for result content */
}

.result-heading {
    font-weight: bold;
    margin-bottom: 10px;
}

.result-content {
    text-align: center;
}

.result-box img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.result-box {
    animation: fadeIn 0.5s ease-in-out;
}

#agent-name, #agent-image, #challenge-result {
    display: none;
}


@font-face {
    font-family: 'ValorantFont'; /* Define a name for your custom font */
    src: url('Valorant font.ttf') format('truetype'); /* Provide the path to the font file */
    font-weight: normal;
    font-style: normal;
}

